.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: toRem(263);
    min-height: toRem(72);
    padding: 0 toRem(49);    
    transition: all 0.3s ease 0s;
    border-radius: 66px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    @media (max-width: $md3+px)  {
        width: 100%;
        min-height: toRem(47);
        padding: 0 toRem(20);  
    }
    &_black {
        background: $blackBtn;
        color: #fff;
	}

    &_light {
        background: transparent;
        border: 2px solid $blackBtn;
        color: inherit;  
        @media (max-width: $md3+px)  {
            background: #fff;
            opacity: 0.9;
            border: none;
        }
    }
    &_small {
        border: 1px solid $blueColor;
        border-radius: 62px;
        padding: 0 toRem(12);
        width: toRem(113);
        min-height: toRem(35);
    }
}

.title{
    font-family: 'Merriweather';
    font-weight: 400;
    text-transform: uppercase;
    &_main {
        line-height: 110%;
        letter-spacing: 0.8px;
        @include adaptiv-value('font-size', 60, 34, 1);
        p {
            &:nth-child(2) {
                text-align: center;
            }
            &:nth-child(3) {
                text-align: end;
            }
        }
        
	}
    &_middle {
        font-size: 54px;
        line-height: 120%;
        
    }
    &_small {
        font-size: 36px;
        line-height: 135%;
        letter-spacing: 0.3px;
        @include adaptiv-value('font-size', 36, 27, 1);
        p {
            display: inline;
        }
    }
    &_red {
        color: $redColor;
        letter-spacing: 0.8px;
    }
    &_contents {
        @media (max-width: $md3+px)  {
            display: contents;
            p {
                &:nth-child(2) {
                    order: 3;
                }
            }
        }
    }
}
