.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: toRem(263);
    min-height: toRem(72);
    padding: 0 toRem(49);    
    transition: all 0.3s ease 0s;
    border-radius: 66px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    @media (max-width: $md3+px)  {
        width: 100%;
        min-height: toRem(47);
        padding: 0 toRem(20);  
    }
    &_black {
        background: $blackBtn;
        color: #fff;
        &:hover {
            background: $yellowColor;
            color: $mainColorText;
        }
	}

    &_light {
        background: transparent;
        border: 2px solid $blackBtn;
        color: inherit;  
        &:hover {
            background: $blackBtn;
            color: #fff;
        }
        @media (max-width: 1300px)  {
            background: #fff;
            opacity: 0.9;
            border: none;
        }
    }
    &_small {
        border: 1px solid $blueColor;
        border-radius: 62px;
        padding: 0 toRem(12);
        width: toRem(113);
        min-height: toRem(35);
        background: none;
        color: $blueColor;
        &:hover {
            background: $blueColor;
            color: #fff;
        }
    }
}

.title{
    font-family: 'Merriweather';
    font-weight: 400;
    text-transform: uppercase;
    &_main {
        line-height: 110%;
        letter-spacing: 0.8px;
        @include adaptiv-value('font-size', 60, 34, 1);
        p {
            &:nth-child(2) {
                text-align: center;
            }
            &:nth-child(3) {
                text-align: end;
            }
        }
        
	}
    &_middle {
        position: relative;
        max-width: toRem(725);
        font-size: 54px;
        line-height: 120%;
        letter-spacing: 0.5px;
        @include adaptiv-value('font-size', 54, 34, 1);
        @media (max-width: $md3+px)  {
            line-height: 112%;
        }
        span {
            position: absolute;      
            max-width: toRem(300);
            line-height: 120%;
            font-size: 20px;
            font-weight: 400;
            color: $blueColor;
            text-transform: none;
            letter-spacing: -0.6px;
            @include adaptiv-value('bottom', 8, 2, 1);
            @include adaptiv-value('left', 300, 200, 1);
            @media (max-width: $md3+px)  {
                position: static;
                display: block;
                font-size: 18px;
                margin-top: toRem(14);
            }
        }
    }
    &_small {
        font-size: 36px;
        line-height: 135%;
        letter-spacing: 0.3px;
        @include adaptiv-value('font-size', 36, 27, 1);
        p {
            display: inline;
        }
    }
    &_contents {
        @media (max-width: $md3+px)  {
            display: contents;
            p {
                &:nth-child(2) {
                    order: 3;
                }
            }
        }
    }
    .red {
        color: $redColor;
        font-weight: 700;
    }
    .name {
        white-space: nowrap;
    }
}

.arrow-slider {
    width: toRem(36);
    height: toRem(36);
    background: $mainColorText;
    border-radius: 100%;
    padding: 0 toRem(14);
    &.persons__arrow_prev, &.steps__arrow_prev{
        transform: rotate(180deg);
    }
    &.disabled {
        pointer-events: none;
        cursor: default;
        background: rgba(49, 49, 49, 0.2);
    }
    &:hover {
        background: $yellowColor;
    }
}
