.header {
	position: absolute;
	width: 100%;
	z-index: 50;
	padding: toRem(26) 0;
	@media (max-width: $md4+px)  {
		padding: toRem(18) 0;
	}
	&__container {
		display: flex;
		align-items: center;
		column-gap: 125px;
	}

	&__logo {
		@include adaptiv-value('width', 245, 213, 1);
		img {
			max-width: 100%;
		}
	}
}

