.hero {
    position: relative;
    padding-top: 62px;
    padding-bottom: 40px;
    @media (max-width: $md4+px)  {
        padding-top: 40px;
    }
    &__container {
        display: flex;
        @media (max-width: $md1+px)  {
            flex-direction: column; 
            row-gap: 30px;
        }
    }

    &__content {
        flex: 0 1 50%;
    }

    &__images {
        flex: 0 1 50%;
    }
}
